body {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;    
    background: linear-gradient(to right, #048a37, #4b2af3);
    color: #3b0909;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6b6b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #05b4e0;
    color: black;
}

#weather {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

#weather h2 {
    margin-top: 0;
}

#weather p {
    margin: 5px 0;
}
